.container {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding-top: var(--spacing-md);
  }
}
